#desktop-container {
  display:flex;
  width: 100vw;
  height: 100vh;
}


h1 {
  font-size: min(15vh, 120px);
  font-weight: 500;
  line-height: 1.0;
  margin-bottom: 0%;
  margin-top: 4%;
}

.list-mobile {
  margin-left: 22vw;
  font-size: 6vw;
}

.description {
  margin-left: 4%;
  margin-right: 4%;

}
.description-desktop {
  font-size: min(2.8vh, 36px);
  line-height: 1.5;
  text-align:left;
}
.description-mobile {
  font-size: 2.25vh;
  line-height: 1.4;
  text-align: center;
}



.container {
    background-color: #251310;
    margin: 1% 0;
    padding: 1%;
    border-radius: 3vh;
    height: 90vh;
}
.about-container {
  width: 48vw;
  min-width: 650px;
  max-width: 80vh;
}

.projects-container {
  width: 48vw;
  min-width: 650px;
  max-width: 80vh;
}

#sidebar {
  background-color: #1A0D0B;
  padding: 1%;
  margin: 1% 0;
  height: 90vh;
  border-radius: 2vh;
  display: flex;
  flex-direction: column;
  float:left;
  gap: 1%;
  overflow: hidden;
  transition: width 0.5s;
}

#topbar {
  background-color: #1A0D0B;
  padding: 1%;
  margin: 1% 0;
  width: 94vw;
  border-radius: 2vh;
  display: flex;
  flex-direction: row;
  float:top;
  gap: 1%;
  overflow: hidden;
  height: min(6vh, 75px)
}

.gradHeading-desktop {
    text-align: left;
  }
  .gradHeading-mobile {
    text-align:center;
    font-size: 14vw
  }

.gradText {
    background-image: linear-gradient(to right, #f78de7, #3dff91);
    background-clip: text;
    color: transparent;
  }

.responsiveText:hover{
  background-image: linear-gradient(to right, #f78de7, #3dff91);
  background-clip: text;
  color: transparent;
}
.responsiveText:hover::marker {
  color:white;
}
.responsiveText:hover .icon {
  stroke: url(#gradient);
}


.sbItem {
  display: flex;
  gap: 0.8rem;
  align-items: center;
  width: min(20vw, 250px);
  font-size: min(2vw, 40px);
  cursor: pointer;
}

.sbTextMed {
  font-size: min(2vw, 40px);
}

.sbTextLarge {
  font-size: min(2vw, 32px);
}

.sbTextMobile {
  font-size: min(4vw, 10px);
}

.sbButton {
  cursor: pointer; 
  padding: 0; 
  border: 0 ;
  border-radius: 10%;
  background-color: transparent;
}

.sbButton:hover .sbIcon {
  stroke: url(#gradient);
}

.sbIcon {
  width: min(4vw, 50px);
  height: min(4vw, 50px);
  stroke-width: 2;
  stroke-linecap:round
}

.sbItem:hover .icon {
  stroke: url(#gradient);
}

#gradient {
  width:2vw;
}